*{
            text-align: center;
            color: rgb(99, 99, 211);
        }

        p {
            text-align: justify;
            color: rgb(0, 0, 113);
        }

        #p{
            color: blueviolet;
        }

        .p{
            color: rgb(0, 110, 40);
        }
